.header__logo{
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  z-index: 100;
}

.header__logo:after{
  content: '';
  height: 100px;
  width: 100px;
  border: 10px solid rgba(255, 255, 255, 0.2);
  background: #E8C300;
}

@media screen and (max-width: 1280px){
  .header__logo {
    top: 100px;
  }
}

@media screen and (max-width: 1024px){
  .header__logo {
    position: static;
    grid-area: logo;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}
@media screen and (max-width: 425px){
  .header__logo {
    padding-top: 20px;
  }
}