@font-face {
  src:
    url(./Inter-Regular.woff2) format('woff2'),
    url(./Inter-Regular.woff) format('woff');
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src:
    url(./Inter-Black.woff2) format("woff2"),
    url(./Inter-Black.woff) format("woff");
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src:
    url(./Inter-Medium.woff2) format("woff2"),
    url(./Inter-Medium.woff) format("woff");
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Banny Round';
  font-style: normal;
  font-weight: normal;
  src: url(./bunny/Banny-Round.woff) format('woff');
}


@font-face {
  font-family: 'Banny Light Round';
  font-style: normal;
  font-weight: normal;
  src:url(./bunny/Banny-LightRound.woff) format('woff');
}


@font-face {
  font-family: 'Banny Bold Round';
  font-style: normal;
  font-weight: normal;
  src: url(./bunny/Banny-BoldRound.woff) format('woff');
}