.header__social-nav {
  grid-area: social-nav;
  -ms-grid-row-align: center;
  align-self: center;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1024px) {
  .header__social-nav {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__social-nav {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}