.header__list {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__list:hover {
  background: #E8C300;
  border: none;
}

.header__list:not(:last-of-type) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .header__list:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .header__list {
    width: 35px;
    height: 35px;
  }
}