.header__date {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  grid-area: date;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0;
  -ms-grid-column-align: center;
  justify-self: center;
  max-height: 145px;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: -150px;
}

@media screen and (max-width: 1024px) {
  .header__date {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  .header__date {
    padding-right: 5px;
    padding-left: 5px;
  }
}