.header__button {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  width: 200px;
  height: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  outline: none;
}

.header__button:hover {
  background: #E8C300;
  border: none;
}

@media screen and (max-width: 425px) {
  .header__button {
    width: calc(100% - 6px);
    height: 40px;
  }
}